# Recursive ignores
**.vscode
**.pyc
**.DS_Store
**node_modules
**__pycache__
**.coverage
**.log
**htmlcov
**.sock
**.lock

# frontend ignores
frontend/src/.DS_Store
frontend/node_modules/
frontend/build/
frontend/Dockerfile

# backend ignores
backend/venv/
backend/node_modules/
backend/ServerBackend/htmlcov
backend/ServerBackend/db.sqlite3
backend/ServerBackend/django_debug.log
backend/ServerBackend/.coverage
backend/ServerBackend/dump.rdb
backend/ServerBackend/Dockerfile
backend/ServerBackend/.dockerignore
backend/ServerBackend/ServerVenv
backend/ServerBackend/ServerBackend/static

# general ignores
certificates
nginx-site.conf
docker-compose.yml
